.heroMain-container {
  // border: 1px solid red;
  .sss {
    display: flex !important;
    width: 100%;

    .hero-img-container {
      width: 30%;
      height: auto;
      padding: 0rem !important;
      .hero-img {
        width: 100%;
      }
    }
    .txt{
      width: 70%;
      padding: 0rem !important;
    }
  }

  .homeHero-h1 {
    font-family: "poppins";
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    margin-top: 3rem;
  }
  .lead {
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    color: #f8fafc;
    line-height: 25px;
    margin-top: 2rem;
  }
  .Free-Consult-link {
    background: #eb2525 !important;
    color: #ffffff !important;
    border-radius: 8px !important;
    border: none;
    margin-top: 1px;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .Free-Consult-rightArrow {
      margin: 0rem .5rem 0rem .5rem;
    }
  }
  .safe-text-p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: #aebacb;
  }
}
