.navbar {
  height: 8vh;
  background-color: transparent !important;
  color: #fff;
  padding: 5rem 0rem !important;
  margin: 0 !important;
  .navbar-container {
  padding: 3rem 0rem !important;
    display: flex;
    align-items: center;
    .nav-con {
      padding-top: 10px;
      margin-left: 20px;
      .nav-links {
        display: flex;
        font-size: 1.3rem !important;       
        font-weight: 300;
        color: #0F172A !important;
      }
    }
    .right-menu {
      .nav-links {
        font-size: 1.3rem !important;
        font-weight: 300;
        color: #0F172A !important;
        margin-right: 10px;
        padding-top: 20px;
        img {
          margin-right: 10px;
        }
      }
      .loginBtn {
        font-size: 1.3rem !important;
        margin-top: 10px;
        background-color: transparent !important;
        margin-left: 20px;
        color: #0F172A !important;
        font-size: 1.2rem;
        font-weight: 300;
        border: 2px solid #0F172A !important;
        img{
            margin-right: 5px;
        }
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  #navbarScroll{
    background-color: #fff !important;
    padding: 1rem 2rem 3rem 1rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .nav-links{
      font-size: 1.8rem !important;
      font-weight: 500;
    }
    .navPhone{
      font-weight: 500;
      margin-left: 20px;
    }
    .loginBtn{
      font-weight: 500;
      font-size: 1.6rem !important;
      width: 100px;
    }
  }
}