@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  font-size: 10px;
}
body {
  margin: 0;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8fafc;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


nav {
  background-color: #333;
}

.brand-logo {
  margin-left: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.width-component{
  width: 80%;
  margin: auto;
}


.Free-Consult-link {
  background: #eb2525 !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  border: none;
  margin-top: 1px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 0rem 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

:focus{
  outline: none;
}


@media only screen and (max-width: 1028px) {
  :root{
    font-size: 9px;
  } 
}

@media only screen and (max-width: 767px) {
  .width-component{
    width: 100%;
  }
}