.hero_section {
  position: relative;
  // height: 87vh;
  width: 100%;
  background: #32465e;
  // padding-top: 2rem;
  background: linear-gradient(
    -125deg,
    #32465e 0%,
    #1f2a39 96.65%,
    #151b23 100%
  );

  // .hero-center {
  //   height: 70vh !important;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

.benifits-container {
  display: flex;
  gap: 3rem;
}

.get-treatment-container {
  padding: 6rem 0rem 10rem 0rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 60px;
    color: #0f172a;
  }
  p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #52525b;
  }
  .treatment-offers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    padding: 0rem 1.5rem;
    gap: 60px;

    .treatment-offers-box {
      width: 100%;
      padding: 3rem 0rem 0rem 0rem;
      border-radius: 24px;
      background: #e6e6e8;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .offers-p1 {
        font-size: 1.4rem;
        font-weight: 500;
        color: #52525b;
      }
      h5 {
        font-size: 2.4rem;
        font-weight: 600;
        color: #0f172a;
      }
      .offers-p2 {
        font-size: 1.65rem;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: #64748b;
      }
      .Free-Consult-rightArrow {
        margin: 0rem 1rem 0rem 0.8rem;
      }
    }
  }
}

.treatment-option-container {
  padding-top: 2rem;
  background: #e6e6e8;
  .treatment-option-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 5.8rem;
      color: #0f172a;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 3.2rem;
      color: #3a3a43;
      margin-bottom: 2rem;
    }
    .Free-Consult-link {
      width: 13rem;
      img {
        margin-left: 8px;
      }
    }
  }
}

// FAQS
.faqs-container {
  width: 100%;
  margin: auto;
  padding: 7rem 0rem;
}
.faqs-section {
  margin: auto;
  width: 80%;
  h1 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 5.8rem;
    color: #0f172a;
    text-align: center;
  }
  p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    color: #52525b;
  }
}

// Get Ready
.getReady-container{
  background: #f8fafc;
  padding: 5rem 0rem;
}