.accordion-width {
  width: 70%;
  margin: auto;
  margin-top: 4rem;

  .my-accordion-header {
    h2 {
      font-size: 2rem !important;
      font-weight: 500;
      color: #0f172a !important;
    }
  }
  .accordion-desc {
    font-size: 18px;
    font-weight: 400;
    color: #52525b;
  }
}
